[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment inlab4.pdfinlab4.pdf92 KB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=3a195545bf&attid=0.1&permmsgid=msg-a:r4685082395338735835&th=16d6658872cbf3ee&view=att&disp=inline&realattid=f_k0yoeptp0
Icon=text-html
